.delivery-time {
  position: fixed;
  right: 20px;
  top: 0px;
  z-index: 3;
}
.contact-admins {
  position: fixed;
  right: 190px;
  top: 0px;
  z-index: 3;
}
.closing-time-alert {
  position: fixed;
  right: 480px;
  width: 450px;
  top: 0px;
  z-index: 3;
}
.random-alert {
  position: fixed;
  right: 480px;
  width: 450px;
  top: 0px;
  z-index: 3;
}
.alert-body {
  height: 155px;
}
