.delivery-time {
  width: 220px;
  max-width: 250px;
  position: absolute;
  right: 20px;
}
.bg-dark th {
  margin: 0px auto;
  padding: 0px;
}
.bg-td {
  background-color: #a7a7a7 !important;
}
input,
select,
button,
.table {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.cancel-delivery {
  width: 100px;
}
td {
  font-size: 18px;
  height: 10px !important;
  text-align: center;
  padding: 5px;
}
#add-delivery-header {
  color: #000000;
  font-size: 40px;
  font-weight: 900;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
